body {
  background-color: rgb(212, 231, 231);
  font-size: 15px;
  padding: 12px;
  margin: 12px;
  
 
}
header {
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
  color: rgb(27, 25, 25);
}


}
